<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyjava.emsservice.mapper.EmployeeMapper">
    
    <select id="findAll" resultType="com.zyjava.emsapi.entity.Employee">
        select * from emp
    </select>

    <insert id="save" parameterType="com.zyjava.emsapi.entity.Employee">
        insert into emp values(#{id},#{name},#{phone},#{address})
    </insert>

    <select id="getById" parameterType="string" resultType="com.zyjava.emsapi.entity.Employee">
      select * from emp where id=#{id}
    </select>

    <delete id="delById" parameterType="string">
        delete from emp where id=#{id}
    </delete>

    <update id="update" parameterType="com.zyjava.emsapi.entity.Employee">
        update emp set name=#{name},phone=#{phone},address=#{address} where id=#{id}
    </update>

</mapper>